[submodule "submodules/openssl"]
	path = submodules/openssl
	url = https://github.com/openssl/openssl.git
[submodule "submodules/zlib"]
	path = submodules/zlib
	url = https://github.com/madler/zlib.git
[submodule "submodules/brotli"]
	path = submodules/brotli
	url = https://github.com/google/brotli.git
[submodule "submodules/libev-win"]
	path = submodules/libev-win
	url = https://github.com/disenone/libev-win
[submodule "submodules/libev"]
	path = submodules/libev
	url = https://github.com/enki/libev
[submodule "submodules/libevent"]
	path = submodules/libevent
	url = https://github.com/libevent/libevent.git
[submodule "submodules/pcre"]
	path = submodules/pcre
	url = https://github.com/luvit/pcre.git
