# macOS
.DS_Store

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.cache/
bin/
build/
build-release/
build-ngtcp2/
build-nghttp2/
build-nghttp3/
third_party/
submodules/libev/
submodules/libiconv/
submodules/libidn2/
experience/nat/build/
experience/tunnel/macos/build/
experience/tunnel/linux/build/
experience/tunnel/solaris/build/
experience/tunnel/freebsd/build/
experience/tunnel/windows/build/

cmake/raw.githubusercontent.com_viva64_pvs-studio-cmake-module_master_PVS-Studio.cmake.txt

