# MacOS X
.DS_Store

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/bin
/build
/third_party
/tests
submodules/
submodules/libiconv/
submodules/libidn2/

cmake/raw.githubusercontent.com_viva64_pvs-studio-cmake-module_master_PVS-Studio.cmake.txt

