[submodule "submodules/lz4"]
	path = submodules/lz4
	url = https://gitflic.ru/project/third_party/lz4.git
[submodule "submodules/bz2"]
	path = submodules/bz2
	url = https://gitflic.ru/project/third_party/bzip2.git
[submodule "submodules/lzma"]
	path = submodules/lzma
	url = https://gitflic.ru/project/third_party/lzma.git
[submodule "submodules/zstd"]
	path = submodules/zstd
	url = https://gitflic.ru/project/third_party/zstd.git
[submodule "submodules/zlib"]
	path = submodules/zlib
	url = https://gitflic.ru/project/third_party/zlib.git
[submodule "submodules/lizard"]
	path = submodules/lizard
	url = https://gitflic.ru/project/third_party/lizard.git
[submodule "submodules/density"]
	path = submodules/density
	url = https://gitflic.ru/project/third_party/density.git
[submodule "submodules/snappy"]
	path = submodules/snappy
	url = https://gitflic.ru/project/third_party/snappy.git
[submodule "submodules/miniupnpc"]
	path = submodules/miniupnpc
	url = https://gitflic.ru/project/third_party/miniupnp.git
[submodule "submodules/brotli"]
	path = submodules/brotli
	url = https://gitflic.ru/project/third_party/brotli.git
[submodule "submodules/pcre2"]
	path = submodules/pcre2
	url = https://gitflic.ru/project/third_party/pcre2.git
[submodule "submodules/boringssl"]
	path = submodules/boringssl
	url = https://gitflic.ru/project/third_party/boringssl.git
[submodule "submodules/gperftools"]
	path = submodules/gperftools
	url = https://gitflic.ru/project/third_party/gperftools.git
[submodule "submodules/libuv"]
	path = submodules/libuv
	url = https://github.com/libuv/libuv.git
[submodule "submodules/libevent"]
	path = submodules/libevent
	url = https://github.com/libevent/libevent.git
[submodule "submodules/ngtcp2"]
	path = submodules/ngtcp2
	url = https://github.com/ngtcp2/ngtcp2.git
[submodule "submodules/nghttp3"]
	path = submodules/nghttp3
	url = https://github.com/ngtcp2/nghttp3.git
[submodule "submodules/nghttp2"]
	path = submodules/nghttp2
	url = https://github.com/nghttp2/nghttp2.git
