boringssl --version 20260413.0
zlib --version 1.3.1
snappy --version 1.2.1
bz2 --branch master
lz4 --version 1.10.0
zstd --version 1.5.7
lzma --version 5.2.3
brotli --version 1.1.0
density --version 0.14.2
lizard --version 1.0
static --none
gperftools --version 2.17.2
